[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    build,
    dist  # Foldery wykluczone z analizy
ignore =
    E203,  # Spacje wokół operatorów (zgodne z Black)
    E501,  # Długość linii przekraczająca limit (używane max-line-length)
    W503   # Łamanie linii przed operatorem binarnym
